In [1]:
# Data types

1) int 
2) float
3) bool
4) str
5) list
6) tuple 
7) set
8) dict
9) complex

In [1]:
# string contactations
'hello' + 'Name'

'helloName'

In [2]:
print(str(100))

100

In [3]:
print(type(str(100)))

<class 'str'>

In [4]:
#Escape Sequence
weather = 'It's Sunny

SyntaxError: invalid syntax (<ipython-input-4-56d5b8e988e5>, line 2)

In [8]:
weather = "It's \"kind of\" Sunny"
print(weather)

It's "kind of" Sunny

In [10]:
#Formatting Strings 

name = "John"
age = 55

In [13]:
print(f"hi {name}. You are {age}")

hi John. You are 55

In [14]:
number = '1234567'

In [16]:
print(number[::-1])

7654321

In [1]:
# strings are immutable

In [1]:
number ='01234567'

In [2]:
number="100"

In [3]:
number[1]='1'

TypeError: 'str' object does not support item assignment

In [4]:
number ='01234567'

In [5]:
# swap first 4 digits with last for digits to form new number 
# output 45670123

In [8]:
number2=number[4:]+number[:4]

In [9]:
number2

'45670123'

In [10]:
#String built in functions

In [12]:
len(number)

8

In [13]:
name='john'

In [14]:
name.upper()

'JOHN'

In [15]:
name.capitalize()

'John'

In [7]:
 #Password checker Exersice 
    
name = input()
secret =input()
hidden_password = '*' * len(secret)

jeswin
secret

In [8]:
print(f'{name}, your {hidden_password} is {len(secret)}long.' )

jeswin, your ****** is 6long.

### LIST

In [9]:
li = [1,2,3,4,5]
li2 = ['a','c']

In [10]:
li3=[1,2,'a',True]

In [11]:
li3

[1, 2, 'a', True]

In [12]:
amazon_cart = ['notebooks','sunglasses']

In [13]:
amazon_cart[0]

'notebooks'

In [14]:
amazon_cart[2]

IndexError: list index out of range

In [15]:
## List slicing

In [16]:
amazon_cart = ['notebooks','sunglasses','toys','grapes']

In [18]:
amazon_cart[0::2]

['notebooks', 'toys']

In [29]:
amazon_cart[:3:] # Slicing creates a new list

['laptop', 'sunglasses', 'toys']

In [24]:
amazon_cart[0]='laptop' # list is mutable

In [25]:
amazon_cart

['laptop', 'sunglasses', 'toys', 'grapes']

In [28]:
amazon_cart[1:3]

['sunglasses', 'toys']

#### LIST MATRICES , 2D arrays

In [30]:
matrix=[[]]

In [31]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]

In [32]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

 ### List Functions

In [14]:
basket=[1,1,2,3,4]
basket.append(100)

In [15]:
basket

[1, 1, 2, 3, 4, 100]

In [16]:
basket.insert(3,120)

In [17]:
basket

[1, 1, 2, 120, 3, 4, 100]

In [18]:
basket.extend([200,100])

In [19]:
basket

[1, 1, 2, 120, 3, 4, 100, 200, 100]

In [20]:
basket.remove(120)

In [21]:
basket

[1, 1, 2, 3, 4, 100, 200, 100]

In [22]:
basket.pop()

100

In [23]:
basket

[1, 1, 2, 3, 4, 100, 200]

In [24]:
#basket.clear()

In [25]:
print(basket.index(100))

5

In [26]:
100 in basket

True

In [28]:
basket.count(100)

1

In [29]:
basket.count(1)

2

In [30]:
basket.sort()

In [31]:
basket

[1, 1, 2, 3, 4, 100, 200]

In [32]:
basket.append(20)

In [33]:
basket

[1, 1, 2, 3, 4, 100, 200, 20]

In [34]:
sorted(basket)

[1, 1, 2, 3, 4, 20, 100, 200]

In [35]:
basket

[1, 1, 2, 3, 4, 100, 200, 20]

In [36]:
new_basket = basket.copy()

In [37]:
new_basket

[1, 1, 2, 3, 4, 100, 200, 20]

In [38]:
basket.reverse()

In [39]:
basket

[20, 200, 100, 4, 3, 2, 1, 1]

In [40]:
basket.index(200)

1

In [41]:
basket.index(20)

0

In [44]:
new_list = list(range(1,10))

In [45]:
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
sentence = ' '
new_sent = sentence.join(['hi','there'])
new_sent

'hi there'

In [49]:
### List unpacking

In [50]:
a,b,c =[1,2,3]

In [51]:
print(a,b,c)

1 2 3

In [54]:
a,b,c, *other,d =[1,2,3,4,5,6,7,8,9]

In [55]:
print(other)

[4, 5, 6, 7, 8]

In [56]:
print(d)

9

### Dictionary